<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../public/1.css">
</head>
<body>
    
<div id="title"><%=data[0].titleArticle %></div>
<p id="txt">
    <%= data[0].textArticle %>
</body>
</html>