<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/1.css">
</head>
<body>
    
<div class="title"><%=data[0].titleNew %></div>
<p class="txt">
    <%= data[0].textNew %>
</body>
</html>